
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table class="table table-bordered table-hover">

    <thead>
        <tr><th><h3>Movie</h3></th></tr>
    </thead>

    <tbody>
        <tr><th>Shrek!</th></tr>
        <tr><th>Wall-e</th></tr>
    </tbody>

</table>
